<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooyala.sample"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".complete.MainExoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".complete.AddAssetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".lists.BasicPlaybackListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".lists.DownloadSerializationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".players.OoyalaSkinPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".players.OoyalaSkinOPTPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".players.OfflineDownloadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".players.OfflineSkinPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".lists.OfflineAnalyticsListActivity"
            android:label="@string/title_activity_offline_analytics_list"></activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>