**/gen
**/bin
**/build
**/.gradle
**/workspace.xml
**/vcs.xml
**/gradle.xml
**/compiler.xml
**/encodings.xml
**/misc.xml
**/modules.xml
**/.idea
**/.idea/libraries

CompleteSampleApp/src/com/ooyala/sample/lists
CompleteSampleApp/src/com/ooyala/sample/players
vendor/google_play_services/samples
go_script/pkg

**/local.properties
**/vo*.jar
**/vo*.dat
**/Dx*.jar
**/assets.jar
**/libdx*.so
**/libdx*.so.info
**/libvo*.so

**/app/libs/*.jar
**/app/libs/*.aar
**/app/src/main/assets/index.android.jsbundle
**/app/src/main/assets/fonts/*
**/app/src/main/assets/skin-config/*
**/app/src/main/assets/skin.json
**/app/src/main/assets/index.android.jsbundle
.DS_Store
runConfigurations.xml
*.iml
VRSampleApp/app/src/main/assets/data.json
VRSampleAppKotlin/app/src/main/assets/data.json
