<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooyala.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <service android:name="com.adobe.adobepass.accessenabler.api.AccessEnablerService"
                 android:label="AccessEnabler service"/>

        <activity
            android:name="com.ooyala.sample.lists.AdvancedPlaybackListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.ooyala.sample.lists.BasicPlaybackListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.ooyala.sample.complete.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ooyala.sample.players.PlayWithInitialTimePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.ooyala.sample.players.InsertAdPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity android:name="com.ooyala.sample.players.CustomControlsPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name="com.ooyala.sample.players.CustomOverlayPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.ooyala.sample.lists.FreewheelListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>

        <activity android:name="com.ooyala.sample.lists.NPAWYouboraListActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.ooyala.sample.players.PreconfiguredFreewheelPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.ooyala.sample.players.CustomConfiguredFreewheelPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
         <activity android:name="com.ooyala.sample.players.OptionsFreewheelPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name="com.ooyala.sample.players.ChangeVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.ooyala.sample.lists.IMAListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        <activity android:name="com.ooyala.sample.players.PreconfiguredIMAPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
        <activity android:name="com.ooyala.sample.players.CustomConfiguredIMAPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
                <activity
            android:name="com.ooyala.sample.lists.OptionsListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".lists.ContentProtectionListActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="com.ooyala.sample.players.CuePointsOptionsFreewheelPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
        <activity android:name="com.ooyala.sample.players.PreloadOptionsPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
        <activity android:name="com.ooyala.sample.players.PreloadWithInitTimePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
        <activity android:name="com.ooyala.sample.players.ServerConfiguredTVRatingsPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="com.ooyala.sample.players.TVRatingsPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="com.ooyala.sample.players.BasicPlaybackVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="com.ooyala.sample.players.PluginPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="com.ooyala.sample.players.TimeoutOptionsPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="com.ooyala.sample.lists.OoyalaAPIListActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="com.ooyala.sample.players.ChannelContentTreePlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".players.AdobePassSampleAppAcitivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="com.ooyala.sample.utils.youbora.YouboraConfigActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".players.NPAWDefaultPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".players.MultipleVideosPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".players.UnbundledPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".players.OoyalaPlayerTokenPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".players.SampleVideoPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
        <activity android:name=".players.PreventVideoViewSharingPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".players.IQConfigurationPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".players.NotificationsPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".players.PlaylistListActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".players.ProgrammaticVolumePlayerActivity"
          android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
