<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooyala.android"
    android:versionCode="1"
    android:versionName="1.0">
    
    <uses-sdk android:targetSdkVersion="19" android:minSdkVersion="9"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <permission android:name="android.permission.INTERNET"/>
    <permission android:name="android.permission.WAKE_LOCK"/>
    
</manifest>