<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooyala.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <service android:name="com.adobe.adobepass.accessenabler.api.AccessEnablerService"
                 android:label="AccessEnabler service"/>
        <activity
            android:name="com.ooyala.sample.complete.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lists.FreewheelListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>

        <activity
            android:name=".players.PreconfiguredFreewheelPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name=".lists.IMAListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        <activity android:name=".players.PreconfiguredIMAPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".players.OoyalaSkinPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".lists.OoyalaSkinListActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".players.ResizablePlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".players.AssetActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".players.GeoBlockingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".lists.GeoBlockingListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".players.AddAssetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".lists.ScreenshotListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".players.ScreenshotActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".lists.MultiAudioListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".players.MultiAudioActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".lists.SsaiListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".players.SsaiPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
