<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ooyala.sample">

    <!--<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19" />-->
    <!--<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="23" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".utils.SampleApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".lists.ChromecastListActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:label="@string/app_name" android:textColor="#ffffff"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".players.ChromecastPlayerActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/app_name" android:textColor="#ffffff"
        android:parentActivityName=".lists.ChromecastListActivity"
        android:launchMode="singleTop">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".lists.ChromecastListActivity"/>
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity
            android:name=".players.ChromecastBarebonesPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" android:textColor="#ffffff"
            android:parentActivityName=".lists.ChromecastListActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".lists.ChromecastListActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <receiver android:name="com.google.android.libraries.cast.companionlibrary.remotecontrol.VideoIntentReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.toggleplayback" />
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.stop" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.libraries.cast.companionlibrary.notification.VideoCastNotificationService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.notificationvisibility" />
            </intent-filter>
        </service>

        <service android:name="com.google.android.libraries.cast.companionlibrary.cast.reconnection.ReconnectionService"/>

    </application>
</manifest>
